<div class="row">
  <div class="span6 offset3">
    <%= form_for @profile, url: {action: "create"} do |f| %>

      <%= f.label :bio %>
      <%= f.text_area :bio %>
  <br>
      <%= f.label :interests %>
      <%= f.text_field :interests %>
      <%= f.submit "Save", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
    
</div>
