<div class='login-bar'>
  <div class='bar-container'>
    <%= link_to root_path do %>  
      <div class=<%='logo-small ' + yield(:logo_visible) %> >
        <%= image_tag "logo.png", size: "35x35" %>
        <span class='logo-text'>directed <span class='green'>reading</span> program</span>
      </div>
    <% end %>
    <div class='user-links'>
      <% if signed_in? %>
        <div class='welcome-message'>
          Welcome, <%= current_user.first_name %>.
        </div>
        <%= link_to signout_path, method: :delete do %>
          <%= image_tag "logout_icon.png", size: "25x25"%>
          sign out
        <% end %>
      <% else %>
        <%= link_to signin_path, controller: "sessions", action: "new" do%>
          <%= image_tag "login_icon.png", size: "25x25" %>
          log in
        <% end %>
      <% end %>
    </div>
  </div>
</div>
